node_modules

# Next.js outputs
.next
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example
!.env.local

# OS/editor noise
.DS_Store
Thumbs.db
.vercel
